# Marketing Mix Modelling (MMM) For E-Commerce

### Problem Satement

A E-commerce company specialising in electronics products had spent a significant amount of money on marketing over the last one year.......

.....



.........
........



Theory work here, need to add 
* 1. Business Objective 
* 2. Problem Solving Methodology 
* and so on

### Libraries

In [1]:
# import libraries and packages
import pandas as pd
import numpy as np

# visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline



# suppresing warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
pd.set_option('display.float_format','{:.3f}'.format)

# 1. Reading data

### Consumer Dataset

In [3]:
consumer_dataset = pd.read_csv('.\dataset\ConsumerElectronics.csv.gz', compression = 'gzip')
consumer_dataset.sample(5)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
607702,CAMDA6RJERF8HS4G,2016-01-15 19:18:03,2016,1,2497205612263400.000,2497205612263400.000,20999.000,1,\N,\N,COD,3,-3721255940069740032.000,-3957467724963509760.000,CE,Camera,Camera,DSLR,34950,3
409511,ACCEAPBH3DCFMZ7H,2015-12-18 15:54:08,2015,12,1472891028478800.000,1472891028478800.000,665.000,1,\N,\N,COD,5,-1549409563506390016.000,3846254018495009792.000,CE,EntertainmentSmall,Speaker,MobileSpeaker,4999,3
382737,ACCE6VGHYKYFX4WB,2015-12-01 14:56:07,2015,12,2458166632053400.000,2458166632053400.000,129.000,1,\N,\N,COD,3,-7326878300817170432.000,1696872088283389952.000,CE,EntertainmentSmall,Speaker,LaptopSpeaker,310,-1
1573037,ACCDYKKYTGCQHNEB,2015-09-01 02:54:21,2015,9,2378842904327460.000,2378842904343610.000,550,1,\N,\N,COD,5,-7.25700332065215E+018,-1.10577003194726E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,499,1
1450259,ACCDH8AVYXCJVY4E,2015-09-09 16:59:19,2015,9,3381987674687830.000,300037347713921984.000,535,1,\N,\N,COD,7,8.96254329546046E+017,2.04758893108073E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,899,2

In [4]:
# shape of the dataset
print(consumer_dataset.shape)

# print the info about the dataset memory usage
consumer_dataset.info(memory_usage = 'deep')

(1648824, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 1.2 GB

In [5]:
# statistics about the dataset
consumer_dataset.describe()

,Year,Month,order_id,order_item_id,units,sla,product_mrp,product_procurement_sla
count,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000
mean,2015.519,6.586,2842444674146622.000,13756277530325592.000,1.022,5.688,4108.309,5.403
std,0.500,3.623,1269134332596894.250,55945981798631008.000,0.254,2.983,8510.918,53.466
min,2015.000,1.000,76331515.000,108016495.000,1.000,0.000,0.000,-1.000
25%,2015.000,3.000,1602588503969575.000,1606725138262300.000,1.000,4.000,799.000,1.000
50%,2016.000,6.000,2611824528743350.000,2619185472741150.000,1.000,6.000,1599.000,2.000
75%,2016.000,10.000,3610613539366250.000,4397705931628400.000,1.000,7.000,3499.000,3.000
max,2016.000,12.000,5395076790260600.000,300037347717704000.000,50.000,1006.000,299999.000,1000.000

### Product List Dataset

In [6]:
product_dataset = pd.read_excel('.\dataset\Media data and other information.xlsx', sheet_name = 'Product List')
product_dataset.head(5)

   Unnamed: 0         Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN                NaN  Frequency    Percent
1         NaN                 \N       5828      0.353
2         NaN  AmplifierReceiver       4056      0.246
3         NaN     AudioMP3Player     112892      6.847
4         NaN         Binoculars      14599      0.885

In [7]:
# drop the column Unnamed: 0 and the first row
product_dataset.drop(product_dataset.columns[0], axis = 1, inplace = True)
product_dataset.drop([0], axis = 0, inplace = True)

# new column headings 
column_header = ['Product_Vertical', 'Frequency', 'Percent']
product_dataset.columns = column_header
product_dataset.head()

    Product_Vertical Frequency Percent
1                 \N      5828   0.353
2  AmplifierReceiver      4056   0.246
3     AudioMP3Player    112892   6.847
4         Binoculars     14599   0.885
5            BoomBox      2879   0.175

### Media Investment Data

In [8]:
media_investment = pd.read_excel('.\dataset\Media data and other information.xlsx', sheet_name = 'Media Investment')
media_investment.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,"Investment in various media heads, INR Cr.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
2,NaN,2015,7,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,NaN,NaN
3,NaN,2015,8,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,NaN,NaN
4,NaN,2015,9,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,NaN,NaN

In [9]:
# droping first column and first 2 rows
media_investment.drop(media_investment.columns[0], axis = 1, inplace = True)

# media_investment.head()
new_header = media_investment.iloc[1,:]
media_investment.columns =  new_header

# drop the first two rows from the dataset
media_investment.drop([0,1,14,15,16,17], axis = 0, inplace = True)

media_investment

1,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
2,2015,7,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,NaN,NaN
3,2015,8,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,NaN,NaN
4,2015,9,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,NaN,NaN
5,2015,10,170.156,6.145,12.622,84.673,3.444,24.372,6.974,31.927,NaN,NaN
6,2015,11,51.216,4.221,1.275,14.172,0.169,19.562,6.596,5.222,NaN,NaN
7,2015,12,106.745,5.398,3.063,56.705,1.067,22.504,6.827,11.181,NaN,NaN
8,2016,1,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
9,2016,2,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,NaN,NaN
10,2016,3,100.025,9.300,2.100,41.590,0.370,18.438,6.218,5.194,0.870,15.946
11,2016,4,56.848,5.205,0.872,24.308,0.035,16.515,5.693,4.220,NaN,NaN
12,2016,5,78.057,1.370,0.770,31.680,0.790,23.650,6.800,6.910,1.100,4.987
13,2016,6,42.834,1.663,1.421,25.049,0.045,7.971,2.768,3.736,NaN,NaN

### Sales Calendar Data

In [10]:
sales_calendar = pd.read_excel('.\dataset\Media data and other information.xlsx', sheet_name = 'Special Sale Calendar')
sales_calendar.drop(sales_calendar.columns[0], axis = 1, inplace = True)

sales_calendar

    Unnamed: 1               Sales Calendar
0     2015.000               (18-19th July)
1          NaN                (15-17th Aug)
2          NaN                (28-30th Aug)
3          NaN                (15-17th Oct)
4          NaN                 (7-14th Nov)
5          NaN   (25th Dec'15 - 3rd Jan'16)
6     2016.000                  (20-22 Jan)
7          NaN                    (1-2 Feb)
8          NaN                  (20-21 Feb)
9          NaN                  (14-15 Feb)
10         NaN                    (7-9 Mar)
11         NaN                  (25-27 May)

In [11]:
sales_calendar.iloc[1:6,0] = sales_calendar.iloc[0,0]
sales_calendar.iloc[7:,0] = sales_calendar.iloc[6,0]
sales_calendar.rename(columns = {'Unnamed: 1' : 'Year'}, inplace = True)

sales_calendar

       Year               Sales Calendar
0  2015.000               (18-19th July)
1  2015.000                (15-17th Aug)
2  2015.000                (28-30th Aug)
3  2015.000                (15-17th Oct)
4  2015.000                 (7-14th Nov)
5  2015.000   (25th Dec'15 - 3rd Jan'16)
6  2016.000                  (20-22 Jan)
7  2016.000                    (1-2 Feb)
8  2016.000                  (20-21 Feb)
9  2016.000                  (14-15 Feb)
10 2016.000                    (7-9 Mar)
11 2016.000                  (25-27 May)

In [12]:
sales_calendar.shape

(12, 2)

### Net Promoter Score data

In [13]:
net_promoter_score = pd.read_excel('.\dataset\Media data and other information.xlsx', sheet_name = 'Monthly NPS Score')

net_promoter_score

,Unnamed: 0,July'15,Aug'15,Sept'15,Oct'15,Nov'15,Dec'15,Jan'16,Feb'16,Mar'16,Apr'16,May'16,June'16
0,NPS,54.600,59.987,46.925,44.398,47.000,45.800,47.093,50.327,49.021,51.828,47.307,50.517
1,Stock Index,1177.000,1206.000,1101.000,1210.000,1233.000,1038.000,1052.000,1222.000,1015.000,1242.000,1228.000,1194.000

### Product Details word file

In [14]:
product_details = pd.read_excel('.\dataset\Product Details.xlsx')
product_details.sample(10)

   super_category            category     sub_category             vertical
19             CE     CameraAccessory  CameraAccessory        ExtensionTube
6              CE     CameraAccessory  CameraAccessory      CameraAccessory
32             CE  EntertainmentSmall   AudioAccessory  MicrophoneAccessory
20             CE     CameraAccessory  CameraAccessory               Filter
35             CE  EntertainmentSmall        HomeAudio         DJController
42             CE  EntertainmentSmall        HomeAudio             SlingBox
21             CE     CameraAccessory  CameraAccessory                Flash
48             CE  EntertainmentSmall          Speaker        MobileSpeaker
54             CE           GameCDDVD             Game         PhysicalGame
17             CE     CameraAccessory  CameraAccessory  CameraRemoteControl

In [15]:
# drop first column- super_category
product_details.drop(['super_category'], axis = 1, inplace = True)
product_details

          category     sub_category               vertical
0           Camera           Camera             Camcorders
1           Camera           Camera                   DSLR
2           Camera           Camera        Instant Cameras
3           Camera           Camera          Point & Shoot
4           Camera           Camera        SportsAndAction
..             ...              ...                    ...
69  GamingHardware  GamingAccessory    JoystickGamingWheel
70  GamingHardware  GamingAccessory       MotionController
71  GamingHardware  GamingAccessory    TVOutCableAccessory
72  GamingHardware    GamingConsole          GamingConsole
73  GamingHardware    GamingConsole  HandheldGamingConsole

[74 rows x 3 columns]

# 2. Data Cleaning and Data Preparation

Operations performed on the data, write brief note on the operations performed

### Consumer Dataset

In [21]:
consumer_dataset.shape

(1648824, 20)

In [24]:
consumer_dataset.sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
793903,ACCDKYFTEZE8RPXD,2016-03-30 13:00:45,2016,3,3561773276131300.000,3561773276131300.000,939.000,1,\N,\N,COD,1,3387987367474740224.000,1245764809499699968.000,CE,GamingHardware,GamingAccessory,GamePad,1099,5
1047536,GAME5UVFVTCJQ95Z,2016-04-04 11:35:01,2016,4,1566052031448600.000,1566052031448600.000,1749.160,1,1,1,Prepaid,1,6514504716557740032.000,-1385607323525339904.000,CE,GameCDDVD,Game,PhysicalGame,3499,6
1201591,GAME8YF95UHRMV2G,2016-05-23 08:33:00,2016,5,2608275651720000.000,2608275651720000.000,2448.000,1,1,1,Prepaid,1,779674900404886016.000,7525083612851659776.000,CE,GameCDDVD,Game,PhysicalGame,4499,1
1459752,ACCDTREV54TU7YFE,2015-09-18 14:20:50,2015,9,4394211982665200.000,4394211982665200.000,1254,1,\N,\N,Prepaid,1,3.08071290747567E+018,-7.88515241701334E+018,CE,GamingHardware,GamingAccessory,GamingMouse,1370,0
1040379,CAME6CH3YXA8QASJ,2016-04-07 11:45:44,2016,4,3568649299475600.000,3568649299475600.000,9625.000,1,3,4,Prepaid,5,2537246174597450240.000,-6667533377157659648.000,CE,Camera,Camera,Point & Shoot,11950,-1
1638871,MICEAVZ3WVUQ4ZJY,2015-09-27 06:26:18,2015,9,2401706437925700.000,2401706437925700.000,1099,1,\N,\N,COD,13,-2.9176075081148E+018,-6.77331000786177E+018,CE,EntertainmentSmall,AudioAccessory,Microphone,4000,2
1026552,AUDEB773FQQ7MQPG,2016-04-27 01:22:24,2016,4,4583385084694000.000,4583385084694000.000,280.000,1,8,9,Prepaid,10,-1649655974564819968.000,-8942266390690580480.000,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,2
910301,FMREAXBW64QS92ZR,2016-03-05 23:43:55,2016,3,1540566706580800.000,1540566706580800.000,1230.000,1,\N,\N,Prepaid,10,7153319141981509632.000,-3452192000084320256.000,CE,EntertainmentSmall,HomeAudio,FMRadio,1399,3
547981,ACCE9R3U6DZENXFM,2016-01-05 17:37:00,2016,1,2488506340013100.000,2488506340013100.000,2199.000,1,\N,\N,COD,5,-4013869932026270208.000,2620788573991779840.000,CE,EntertainmentSmall,HomeAudio,HomeAudioSpeaker,5399,2
1343825,TESE8QG5TPDQFYUN,2016-06-02 16:58:30,2016,6,4617220822766200.000,4617220822766200.000,2050,1,4,5,Prepaid,4,-1.45157701878437E+018,7.79533612356769E+018,CE,CameraAccessory,CameraAccessory,Telescope,3000,1

In [86]:
# consumer_dataset.info(memory_usage = 'deep')
consumer_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 251.6+ MB

##### Correcting Datatypes

In [114]:
# converting order_date from string to datetime datatype

consumer_dataset['order_date'] = pd.to_datetime(consumer_dataset['order_date']).dt.normalize()

'''
after checking in the code trial I can conclude that their is no mismatch between
order_date's year and month to the individual Year and Month columns

remove this after some time
'''

In [115]:
consumer_dataset.sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
1421154,CAMDGPNMWFHRQFXN,2015-07-07,2015,7,167549114.000,212475284.000,,1,\N,\N,Prepaid,2,,,CE,Camera,Camera,Point & Shoot,11999,5
125617,ACCEBEMGQUZYJBKG,2015-10-17,2015,10,2419251064121300.000,2419251064121300.000,1399,1,\N,\N,Prepaid,2,7.57199674274943E+018,7.68693767541594E+018,CE,EntertainmentSmall,Speaker,MobileSpeaker,1999,4
3768,ACCD38YG3UDFDG6D,2015-10-11,2015,10,3413573461353700.000,3413573461353700.000,1440,1,\N,\N,Prepaid,5,6.99333593666514E+018,-9.779010321304E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2750,-1
720405,ACCEDZVQQPB9KYA9,2016-02-03,2016,2,4513694674887300.000,4513694674887300.000,299.000,1,\N,\N,COD,8,-4743634836005109760.000,3028364541632970240.000,CE,CameraAccessory,CameraAccessory,Flash,899,2
1434395,SELDXMC3JNMTQMGV,2015-07-12,2015,7,170582940.000,216003435.000,2799,1,\N,\N,Prepaid,2,-7.92447647844451E+018,-4.77741288877198E+018,CE,EntertainmentSmall,TVVideoSmall,SelectorBox,4999,3
194136,SELDXMC3JNMTQMGV,2015-10-16,2015,10,2418177650942700.000,2418177650942700.000,1842,1,\N,\N,Prepaid,2,-1.96400536758053E+018,4.70560705115469E+018,CE,EntertainmentSmall,TVVideoSmall,SelectorBox,4999,3
644928,ACCDF2Z7KXGSZEP7,2016-02-25,2016,2,3532629839694200.000,3532629839694200.000,309.000,1,\N,\N,COD,6,-3004957001939120128.000,1136934471039449984.000,CE,GamingHardware,GamingAccessory,GamePad,350,3
233170,ACCDXEGXG8HJUCSK,2015-11-03,2015,11,3434200677102400.000,3434200677102400.000,699,1,\N,\N,COD,9,-3.149627848162E+018,-6.03266161471385E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,1000,2
828285,ACCEA9FET8T7AGQG,2016-03-14,2016,3,2548131575294500.000,2548131575294500.000,635.000,1,\N,\N,Prepaid,5,-8830245011193140224.000,-3833415145933270016.000,CE,EntertainmentSmall,Speaker,MobileSpeaker,749,3
1529662,GAME7NCRHAQBCQ32,2015-09-12,2015,9,4389109780497500.000,4389109780497500.000,1499,1,\N,\N,COD,2,-3.97877008842894E+018,-6.08233565509327E+018,CE,GameCDDVD,Game,PhysicalGame,1499,1000

In [130]:
''' following code can be used for extracting more meaningful data from the 
order_date column

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['dayofweek'] = df['date'].dt.dayofweek  # 0 = Monday, 6 = Sunday
df['weekofyear'] = df['date'].dt.isocalendar().week
df['is_weekend'] = df['dayofweek'].isin([5, 6]).astype(int)

'''

" following code can be used for extracting more meaningful data from the \norder_date column\n\ndf['year'] = df['date'].dt.year\ndf['month'] = df['date'].dt.month\ndf['day'] = df['date'].dt.day\ndf['dayofweek'] = df['date'].dt.dayofweek  # 0 = Monday, 6 = Sunday\ndf['weekofyear'] = df['date'].dt.isocalendar().week\ndf['is_weekend'] = df['dayofweek'].isin([5, 6]).astype(int)\n\n"

In [116]:
## function for calculating no.of unique values and null values

dtype('<M8[ns]')

# Code Trial space

In [6]:
# reading the complete csv and compressing it using gzip format
dataset = pd.read_csv('G:\ML_DL_Projects\Datasets\E-Commerce_Capstone_Dataset\E-Commerce Dataset\ConsumerElectronics.csv')

dataset.to_csv('G:\ML_DL_Projects\Datasets\E-Commerce_Capstone_Dataset\E-Commerce Dataset\ConsumerElectronics.csv.gz', index = False, compression = 'gzip')

In [7]:
dataset.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 1.2 GB

In [8]:
dataset_2 = pd.read_csv('G:\ML_DL_Projects\Datasets\E-Commerce_Capstone_Dataset\E-Commerce Dataset\ConsumerElectronics.csv.gz', compression = 'gzip')

In [10]:
dataset_2.shape

(1648824, 20)

In [56]:
consumer_dataset_temp['order_date'] = pd.to_datetime(consumer_dataset_temp['order_date']).dt.date

In [64]:
consumer_dataset_temp.sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
684,ACCCX3SU22JG8NJX,2015-10-21,2015,10,4422936815272600.000,4422936815272600.000,470,1,\N,\N,COD,9,4.70373376132627E+018,6.0416896625336E+018,CE,CameraAccessory,CameraAccessory,CameraBattery,1545,1
179,ACCCX3SGDGPZAQXD,2015-10-27,2015,10,4428060678661500.000,4428060678661500.000,8499,1,\N,\N,COD,8,-4.32408157611276E+015,9.84470503822438E+017,CE,CameraAccessory,CameraAccessory,Lens,17995,5
653,ACCCX3SHSVHHGWB2,2015-10-27,2015,10,2428161597921600.000,2428161597921600.000,1440,1,\N,\N,COD,8,-7.60093866011041E+018,4.78665140499404E+018,CE,CameraAccessory,CameraAccessory,CameraBag,1800,1
815,ACCCX3SU5VYKHSZG,2015-10-12,2015,10,4414924549087800.000,4414924549087800.000,850,1,\N,\N,COD,8,-8.25506809901664E+018,-3.96127324734773E+018,CE,CameraAccessory,CameraAccessory,CameraBattery,3810,13
578,ACCCX3SH73WUYMEF,2015-10-17,2015,10,3419135095214600.000,3419135095214600.000,1425,1,\N,\N,COD,3,-8.59206735427887E+018,1.45214785746179E+018,CE,CameraAccessory,CameraAccessory,CameraBag,1999,3
460,ACCCX3SGEP6YD7SW,2015-10-16,2015,10,4418196683780600.000,4418196683780600.000,6646,1,\N,\N,Prepaid,8,5.41674372109305E+018,4.0957077842997E+018,CE,CameraAccessory,CameraAccessory,Lens,10490,1
708,ACCCX3SU22JG8NJX,2015-10-28,2015,10,2429052207474500.000,2429052207474500.000,940,2,\N,\N,COD,9,8.28622931058438E+018,5.09577191997194E+018,CE,CameraAccessory,CameraAccessory,CameraBattery,1545,1
9,ACCCX3S5JGAJETYR,2015-10-25,2015,10,4426481574167600.000,4426481574167600.000,3695,1,\N,\N,COD,7,-7.80915606896163E+018,-9.779010321304E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,4044,5
598,ACCCX3SHBDQGU54P,2015-10-02,2015,10,3406482590788500.000,3406482590788500.000,4400,1,\N,\N,COD,8,-3.97586343743215E+018,-7.70816034119555E+018,CE,CameraAccessory,CameraAccessory,CameraBag,5999,0
905,ACCCX3SUEACQJ2QG,2015-10-28,2015,10,3429005638048100.000,3429005638048100.000,130,1,\N,\N,COD,10,4.11513247626911E+018,-9.00443638791635E+018,CE,CameraAccessory,CameraAccessory,Lens,399,2

In [73]:
consumer_dataset_temp['order_date'] = pd.to_datetime(consumer_dataset_temp['order_date'])

In [85]:
consumer_dataset_temp['order_date'].dtype

dtype('<M8[ns]')

In [105]:
consumer_dataset_temp = consumer_dataset.copy()

In [106]:
consumer_dataset_temp.shape

(1648824, 20)

In [102]:
consumer_dataset_temp['order_date'] = pd.to_datetime(pd.to_datetime(consumer_dataset_temp['order_date']).dt.date)

In [109]:
# check the sample of the temporary copy of the consumer dataset
consumer_dataset_temp.sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
228188,ACCDVZ83VBHCWFFA,2015-11-09,2015,11,2439246732101100.000,2439246732101100.000,1999,1,\N,\N,COD,3,-7.50548710116533E+018,3.79153171785336E+018,CE,EntertainmentSmall,HomeAudio,HomeAudioSpeaker,6990,4
751936,CAMDF4FHEHKYNSHY,2016-02-12,2016,2,2521510742146100.000,2521510742146100.000,26250.000,1,\N,\N,COD,8,7821798735074440192.000,5740173714531050496.000,CE,Camera,Camera,DSLR,46950,7
309311,CAMDF4FHEHKYNSHY,2015-11-09,2015,11,2439072580871300.000,2439072580871300.000,24990,1,\N,\N,Prepaid,2,-3.81559932357596E+018,-1.65848405959617E+018,CE,Camera,Camera,DSLR,46950,7
1537502,SELDXMC3JNMTQMGV,2015-09-07,2015,9,3381987673790020.000,300037347712916992.000,2599,1,\N,\N,COD,4,1.0173669051298E+018,-3.86094451143131E+017,CE,EntertainmentSmall,TVVideoSmall,SelectorBox,4999,3
941291,ACCD8ZGFTJRXFY5H,2016-04-27,2016,4,2579159175406400.000,300037347717681024.000,16069.000,1,3,3,Prepaid,5,4183294064963210240.000,2662203916715769856.000,CE,CameraAccessory,CameraAccessory,Binoculars,21950,1
1475324,ACCE4D9UJNGQSHQY,2015-09-15,2015,9,1391905843476000.000,1391905843476000.000,4059,1,\N,\N,Prepaid,6,8.25365493656544E+018,-2.57200223149231E+018,CE,GamingHardware,GamingAccessory,GamingMouse,4999,5
53671,ACCE52QHEHCTFHNJ,2015-10-31,2015,10,1430890184632600.000,1430890184632600.000,230,1,\N,\N,COD,7,-1.06920982437748E+018,2.22291239299478E+018,CE,CameraAccessory,CameraAccessory,Lens,490,5
977391,ACCEAPFG4JRKBZEZ,2016-04-27,2016,4,3570557026755200.000,300037347717624000.000,569.000,1,7,8,Prepaid,5,1163966943339909888.000,-370342091330123008.000,CE,EntertainmentSmall,Speaker,MobileSpeaker,5000,2
1283001,ACCEF7FXRDMZF9BZ,2016-06-28,2016,6,3639704621741800.000,3639704621741800.000,209.000,1,\N,\N,COD,5,4300936196476400128.000,8677386134689149952.000,CE,CameraAccessory,CameraAccessory,Lens,441,2
1575352,ACCE29WRH5GGYPF9,2015-09-14,2015,9,1390727840397800.000,1390727840397800.000,2199,1,\N,\N,COD,4,-3.58422105067596E+017,7.79533612356769E+018,CE,EntertainmentSmall,Speaker,MobileSpeaker,2499,-1

In [108]:
consumer_dataset_temp['order_date'].dtype

dtype('<M8[ns]')

In [107]:
consumer_dataset_temp['order_date'] =pd.to_datetime(consumer_dataset_temp['order_date']).dt.normalize()

In [112]:
consumer_dataset_temp['order_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1648824 entries, 0 to 1648823
Series name: order_date
Non-Null Count    Dtype
--------------    -----
1648824 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 12.6 MB

In [117]:
# checking for issues in year and month column
consumer_dataset_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  datetime64[ns]
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(11)
memory usage: 251.6+ MB

In [124]:
consumer_dataset_temp['month_temp'] = consumer_dataset_temp['order_date'].dt.month

In [125]:
consumer_dataset_temp[consumer_dataset_temp['month_temp'] != consumer_dataset_temp['Month']]

Empty DataFrame
Columns: [fsn_id, order_date, Year, Month, order_id, order_item_id, gmv, units, deliverybdays, deliverycdays, s1_fact.order_payment_type, sla, cust_id, pincode, product_analytic_super_category, product_analytic_category, product_analytic_sub_category, product_analytic_vertical, product_mrp, product_procurement_sla, Year_temp, month_temp]
Index: []

[0 rows x 22 columns]

In [126]:
# getting the just date par from the order_date
consumer_dataset_temp['day'] = consumer_dataset_temp['order_date'].dt.day

In [129]:
consumer_dataset_temp['day'].nunique()

31

In [180]:
def unique_value(dataset):
    temp_dataframe = pd.DataFrame(columns =['Name', 'Not_Null Values',
                                            'Null Values','% of Null Values',
                                            'Unique_Valeus','Data Type'])
    l = len(dataset)
    for i in dataset.columns:
                                            
        temp_dataframe.loc[len(temp_dataframe),:] = [i,dataset[i].notnull().sum(),
                                                     dataset[i].isnull().sum(),
                                                     round(dataset[i].isnull().sum()/l,2),
                                                     dataset[i].nunique(),
                                                     dataset[i].dtype
                                                    ]
    print(temp_dataframe)

In [137]:
temp_dataframe = pd.DataFrame(columns = ['Name'])

In [139]:
consumer_dataset_temp['fsn_id'].count()

1648824

In [182]:
unique_value(consumer_dataset_temp)

                               Name Not_Null Values Null Values  \
0                            fsn_id         1648824           0
1                        order_date         1648824           0
2                              Year         1648824           0
3                             Month         1648824           0
4                          order_id         1648824           0
5                     order_item_id         1648824           0
6                               gmv         1648824           0
7                             units         1648824           0
8                     deliverybdays         1648824           0
9                     deliverycdays         1648824           0
10       s1_fact.order_payment_type         1648824           0
11                              sla         1648824           0
12                          cust_id         1648824           0
13                          pincode         1648824           0
14  product_analytic_super_category         1648824           0
15        product_analytic_category         1648824           0
16    product_analytic_sub_category         1648824           0
17        product_analytic_vertical         1648824           0
18                      product_mrp         1648824           0
19          product_procurement_sla         1648824           0
20                        Year_temp         1648824           0
21                       month_temp         1648824           0
22                              day         1648824           0

   % of Null Values Unique_Valeus       Data Type
0             0.000         21219          object
1             0.000           388  datetime64[ns]
2             0.000             2           int64
3             0.000            12           int64
4             0.000       1501177         float64
5             0.000       1480765         float64
6             0.000         18086          object
7             0.000            27           int64
8             0.000           143          object
9             0.000           171          object
10            0.000             2          object
11            0.000            60           int64
12            0.000       1253495          object
13            0.000         12973          object
14            0.000             1          object
15            0.000             5          object
16            0.000            14          object
17            0.000            74          object
18            0.000          1929           int64
19            0.000            17           int64
20            0.000             2           int64
21            0.000            12           int64
22            0.000            31           int64

In [159]:
for i,j in enumerate(consumer_dataset_temp):
    print(i,j)

0 fsn_id
1 order_date
2 Year
3 Month
4 order_id
5 order_item_id
6 gmv
7 units
8 deliverybdays
9 deliverycdays
10 s1_fact.order_payment_type
11 sla
12 cust_id
13 pincode
14 product_analytic_super_category
15 product_analytic_category
16 product_analytic_sub_category
17 product_analytic_vertical
18 product_mrp
19 product_procurement_sla
20 Year_temp
21 month_temp
22 day

In [8]:
62500^1/5

TypeError: unsupported operand type(s) for ^: 'int' and 'float'